{% assign section = include.content %}

{% capture form %}
    {% if section.form %}
    {% assign form = section.form %}

        <div id="mc_embed_signup">
            <form action="https://story-ai.us17.list-manage.com/subscribe/post?u={{form.u}}&amp;id={{form.id}}" method="post" id="mc-embedded-subscribe-form"
                name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="row justify-content-left" style="padding: 10px 0 ">
                    <div class="col-md-8">
                        <label class="sr-only" for="inlineFormInput">
                            {{form.emailPlaceholder}}
                        </label>
                        <input type="email" value="" name="EMAIL" class="form-control form-control-lg mb-2 mb-md-0" id="mce-EMAIL" placeholder="{{form.emailPlaceholder}}">
                    </div>
                </div>
                <div class="row justify-content-left" style="padding: 10px 0">
                    <div class="col-md-4">
                        <label class="sr-only" for="inlineFormInput">
                            {{form.firstNamePlaceholder}}
                        </label>
                        <input type="text" value="" name="FNAME" class="form-control form-control-lg mb-2 mb-md-0" id="mce-FNAME" placeholder="{{form.firstNamePlaceholder}}">
                    </div>
                    <div class="col-md-4">
                        <label class="sr-only" for="inlineFormInput">
                            {{form.lastNamePlaceholder}}
                        </label>
                        <input type="text" value="" name="LNAME" class="form-control form-control-lg mb-2 mb-md-0" id="mce-LNAME" placeholder="{{form.lastNamePlaceholder}}">
                    </div>
                </div>
                <div class="row justify-content-left" style="padding: 10px 0">
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_{{form.u}}_{{form.id}}" tabindex="-1" value="">
                    </div>

                    <div class="col-md-8">
                    <input type="submit" value="{{form.button_text}}" name="subscribe" id="mc-embedded-subscribe" class="btn 
                        {% if section.filled %}
                            {% if section.cta.filled %}
                                btn-light
                            {% else %}
                                btn-outline-light
                            {% endif %}
                        {% else %}
                            {% if section.cta.filled %}
                                btn-dark
                            {% else %}
                                btn-outline-dark
                            {% endif %}
                        {% endif %}
                    " />
                    </div>
                </div>
            </form>
        </div>

    {% endif %}
{% endcapture %}

{% capture image %}
    {% if section.image %}
        <div class="col-md text-center">
            <img src="{{section.image.url}}"
                    alt="{{section.image.hoverText}}" 
                    class="img-fluid img-device mw-330" 
                    data-enter="fadein" 
                    style="transform: translateY(70px)">
        </div>
    {% endif %}
{% endcapture %}

<div class="block block-main-feature"
    {% if section.filled %}
    style="
        background-image: linear-gradient(to bottom right, #5534ff 0%, #0c7aee 48%, #69ffab 100%);
        color: rgba(255,255,255,.6);
    "
    {% endif %}
    id="{{section.id}}"
>
    <div class="container">
        <div class="row align-items-center">
            {% if section.image and section.image.alignment == "left" %} 
                {{image}}
            {% endif %}
            <div class="col">
                <h2
                    {% if section.filled %}
                    style="
                        color: rgba(255,255,255,.9);
                    "
                    {% endif %}
                >
                    {{section.header}}
                </h2>

                    <p>
                        {{page.content | markdownify}}
                    </p>

                {% if section.features %}
                    <div class="row my-5">
                        {% for feature in section.features %}
                            <div class="col-md content-feature-sub mt-4 mt-md-0">
                                <p>
                                    <span class="icon-themed icon-sm icon-{{feature.icon}}"></span>
                                </p>
                                <h3>{{feature.header}}</h3>
                                <p>
                                    {{feature.text}}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if section.cta %}
                    <p>
                        <a href="{{section.cta.link}}" class="btn 
                            {% if section.filled %}
                                {% if section.cta.filled %}
                                    btn-light
                                {% else %}
                                    btn-outline-light
                                {% endif %}
                            {% else %}
                                {% if section.cta.filled %}
                                    btn-dark
                                {% else %}
                                    btn-outline-dark
                                {% endif %}
                            {% endif %}
                        ">
                            {{section.cta.text}}
                        </a>
                    </p>
                {% endif %}
                
            </div>

            {% if section.image and section.image.alignment == "right" %} 
                {{image}}
            {% endif %}

        </div>

        {{form}}
    </div>
</div>