{% assign content = include.content %}

<!-- Footer themed -->
<div class="block block-footer block-footer-themed" id="{{content.id}}">
    <div class="container">
        <!--Subheader -->
        <div class="row justify-content-center">
            <div class="col-md-8 content-subheader">
                <h2>{{content.header}}</h2>
            </div>
        </div>
        <!-- / Subheader -->

        <!-- Social media links -->
        <div class="row justify-content-center mt-4">
            <div class="col-md-3 text-center">
                <div class="footer-social-media d-flex justify-content-around">

                    {% for nav in content.social %}
                        <a href="{{nav.link}}" class="link-icon">
                            <span class="icon-md icon-light icon-{{nav.icon}}"></span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- / Social media links -->

        <!-- Newsletter -->
        <div class="row mt-4">
            <div class="col text-center">
                <p>{{content.signupText}}</p>

                <form action="https://story-ai.us17.list-manage.com/subscribe/post?u=2db8dc8668056c8bb3cf91afb&amp;id=6c70c475e7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div class="form-row justify-content-center">
                        <div class="col-md-4">
                            <label class="sr-only" for="inlineFormInput">
                                {{content.namePlaceholder}}
                            </label>
	                        <input type="text" value="" name="FNAME" class="form-control form-control-lg mb-2 mb-md-0" id="mce-FNAME" placeholder="{{content.namePlaceholder}}">
                        </div>
                        <div class="col-md-4">
                            <label class="sr-only" for="inlineFormInput">
                                {{content.emailPlaceholder}}
                            </label>
	                        <input type="email" value="" name="EMAIL" class="form-control form-control-lg mb-2 mb-md-0" id="mce-EMAIL" placeholder="{{content.emailPlaceholder}}">
                        </div>
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_2db8dc8668056c8bb3cf91afb_6c70c475e7" tabindex="-1" value="">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-lg 
                                {% if content.button.filled %}
                                    btn-light
                                {% else %}
                                    btn-outline-light
                                {% endif %}
                            ">
                                {{content.button.text}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- / Newsletter -->

        <!-- Links -->
        <div class="row justify-content-center">
            <div class="col-md-8 content-footer-bottom-links">
                <ul class="nav justify-content-center">
                    {% for nav in content.nav %}
                        <li class="nav-item">
                            <a class="nav-link text-light" href="
                                {{nav.link}}
                                ">
                                {{nav.text}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!-- / Links -->

        <!-- Legals -->
        <div class="row">
            <div class="col content-footer-legals">
                {{content.legalFooter}}
            </div>
        </div>
        <!-- / Legals -->
    </div>
</div>
<!-- / Footer themed -->

<!-- Required JavaScript -->
<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bundle.js"></script>
<!-- Start of Async Drift Code -->
<script>
!function() {
  var t;
  if (t = window.driftt = window.drift = window.driftt || [], !t.init) return t.invoked ? void (window.console && console.error && console.error("Drift snippet included twice.")) : (t.invoked = !0, 
  t.methods = [ "identify", "config", "track", "reset", "debug", "show", "ping", "page", "hide", "off", "on" ], 
  t.factory = function(e) {
    return function() {
      var n;
      return n = Array.prototype.slice.call(arguments), n.unshift(e), t.push(n), t;
    };
  }, t.methods.forEach(function(e) {
    t[e] = t.factory(e);
  }), t.load = function(t) {
    var e, n, o, i;
    e = 3e5, i = Math.ceil(new Date() / e) * e, o = document.createElement("script"), 
    o.type = "text/javascript", o.async = !0, o.crossorigin = "anonymous", o.src = "https://js.driftt.com/include/" + i + "/" + t + ".js", 
    n = document.getElementsByTagName("script")[0], n.parentNode.insertBefore(o, n);
  });
}();
drift.SNIPPET_VERSION = '0.3.1';
drift.load('i8nbw5pb65vb');
</script>
<!-- End of Async Drift Code -->
