{% assign section = include.content %}

<div class="block block-main-feature" 
    {% if section.filled %}
    style="
        background-image: linear-gradient(to bottom right, #5534ff 0%, #0c7aee 48%, #69ffab 100%);
        color: rgba(255,255,255,.6);
    "
    {% endif %}
    id="{{section.id}}"
    >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">

                <h2
                    {% if section.filled %}
                    style="
                        color: rgba(255,255,255,.9);
                    "
                    {% endif %}
                >
                    {{section.header}}
                </h2>

                {% if section.image %}
                <img src="{{section.image.url}}" alt="{{section.image.hoverText}}" class="img-fluid img-device my-5" data-enter="fadein"
                    style="transform: none; transition: transform 1200ms cubic-bezier(0.2, 0.7, 0.5, 1) 100ms;"> 
                {% endif %}

                {% for p in section.text %}
                    <p>
                        {{p}}
                    </p>
                {% endfor %} 

                {% if section.features %}
                    <div class="row my-5"
                    >
                        {% for feature in section.features %}
                            <div class="col-md content-feature-sub mt-4 mt-md-0">
                                <p
                                    {% if section.filled %}
                                        style="color:rgba(255,255,255,1)"
                                    {% endif %}
                                >
                                    <span class="
                                    {% unless section.filled %}
                                        icon-themed
                                    {% endunless %}
                                    icon-sm icon-{{feature.icon}}"></span>
                                </p>
                                <h3
                                    {% if section.filled %}
                                        style="color:rgba(255,255,255,1)"
                                    {% endif %}
                                >{{feature.header}}</h3>
                                <p>
                                    {{feature.text}}
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                
                {% if section.cta %}
                    <p>
                        <a href="{{section.cta.link}}" class="btn 
                            {% if section.filled %}
                                {% if section.cta.filled %}
                                    btn-light
                                {% else %}
                                    btn-outline-light
                                {% endif %}
                            {% else %}
                                {% if section.cta.filled %}
                                    btn-dark
                                {% else %}
                                    btn-outline-dark
                                {% endif %}
                            {% endif %}
                        ">
                            {{section.cta.text}}
                        </a>
                    </p>
                {% endif %}

            </div>
        </div>
    </div>
</div>