<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% for part in page.parts %}
        {% if part.type == "features" %}
            {% include features.html content=part.content %} 
        {% elsif part.type == "metrics" %}
            {% include metrics.html content=part.content %} 
        {% elsif part.type == "secondary_features" %}
            {% include secondary_features.html content=part.content %} 
        {% elsif part.type == "gallery" %}
            {% include gallery.html content=part.content %} 
        {% elsif part.type == "app" %}
            {% include app.html content=part.content %} 
        {% elsif part.type == "footer" %}
            {% include footer.html content=part.content %} 
        {% elsif part.type == "header" %}
            {% include header.html content=part.content %} 
        {% elsif part.type == "section_landscape" %}
            {% include section_landscape.html content=part.content %} 
        {% elsif part.type == "section" %}
            {% include section.html content=part.content %} 
        {% elsif part.type == "body" %}
            {% include body.html content=part.content %} 
        {% endif %}

    {% endfor %} 
</body>

</html>